<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <style th:inline="text">
    body{
      background: url("/src/main/images/tu.jpg");
    }
  </style>
</head>
<body>
<div>
  <h1 style="color: cornflowerblue;font:-apple-system-tall-body">房产管理系统</h1>
  <h4 style="float: right;margin-right: 50px;color: cornflowerblue" th:text="${msg1}"></h4>
  <ul class="nav nav-tabs">
    <li role="presentation" ><a th:href="@{/toindex}">主页</a></li>
    <li role="presentation"><a >添加房产信息</a></li>
    <li role="presentation"><a th:href="@{/togm}">修改用户信息</a></li>
    <li role="presentation"><a th:href="@{/gaimima1}">管理用户</a></li>
    <li role="presentation"><a th:href="@{/zhuxiao}">注销</a></li>
  </ul>
</div>
<div style="border-radius: 15px;
		background-clip: padding-box;
		margin: 180px auto;
		width: 350px;
		padding: 15px 35px 15px 35px;
		background: white;
		border: 1px solid wheat;
		box-shadow: 0 0 25px whitesmoke;" >
  <form th:action="@{/addfangzhi}">
    <center>
      <h1 style="margin: 0px auto 40px auto;
		text-align: center;">添加房产</h1>
      地址<input type="text" name="dizhi"><br><br>
      面积<input type="text" name="mianji"><br><br>
      价格<input type="text" name="jiage"><br><br>
      图片<input type="text" name="tupian"><br><br>
    </center>
    <center>
      <div style="align-items:center;">
        <button  type="submit">完成</button>
      </div>
    </center>


  </form>
</div>
</body>
</html>