<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<div style="border-radius: 15px;
		background-clip: padding-box;
		margin: 180px auto;
		width: 350px;
		padding: 15px 35px 15px 35px;
		background: white;
		border: 1px solid wheat;
		box-shadow: 0 0 25px whitesmoke;" >
    <form th:action="@{/login}">
        <center>
            <h1 style="margin: 0px auto 40px auto;
		text-align: center;">login</h1>
            账号<input type="text" name="username"><br>
            密码<input type="password" name="password"><br>
        </center>
        <center>
            <div style="align-items:center;">
                记住我<input style="text-align: left;
		margin:10px;" type="checkbox" name="remember"><br>
                <button  type="submit">登录</button>
                <button  type="submit">注册</button>
            </div>
        </center>


    </form>
</div>

</body>
</html>