<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="border-radius: 15px;
		background-clip: padding-box;
		margin: 180px auto;
		width: 350px;
		padding: 15px 35px 15px 35px;
		background: white;
		border: 1px solid wheat;
		box-shadow: 0 0 25px whitesmoke;" >
    <form th:action="@{/gai}">
        <center>
            <h1 style="margin: 0px auto 40px auto;
		text-align: center;" ></h1>
            输入密码<input type="text" name="password"><br><br>
            输入等级<input type="text" name="dengji"><br><br>
        </center>
        <center>
            <div style="align-items:center;">
                <button  type="submit">完成</button>
            </div><br>

        </center>


    </form>

</div>
</body>
</html>