<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD me.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.houseproject.Mapper.UserMapper">

    <select id="getAllUser" resultType="User">
        SELECT * from user;
    </select>
    <select id="querybyname" parameterType="String" resultType="User">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id="getall"  resultType="fangzhi">
        select * from fangzhi;
    </select>
</mapper>
