<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.houseproject.Mapper.UserMapper">

    <select id="getAllUser" resultType="User">
        SELECT * from user;
    </select>
    <select id="querybyname" parameterType="map" resultType="User">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id="querybyusername" parameterType="String" resultType="User">
        select * from user where username = #{username};
    </select>
    <select id="getall"  resultType="fangzhi">
        select * from fangzhi where deleted = 0 and (zhuangtai is null or zhuangtai &lt;&gt; '已售出') order by hid desc;
    </select>
    <select id="getDeleted" resultType="fangzhi">
        select * from fangzhi where deleted = 1 order by deleted_at desc, hid desc;
    </select>
    <select id="querybyid"  resultType="fangzhi">
        select * from fangzhi where hid = #{hid};
    </select>
    <insert id="addUser">
            insert into user(username,password) values(#{username},#{password})
    </insert>
    <update id="xiugai">
        update fangzhi set dizhi =#{dizhi},mianji=#{mianji},jiage=#{jiage},zhuangtai=#{zhuangtai},
            jiaju=#{jiaju,jdbcType=VARCHAR},shuidian=#{shuidian,jdbcType=VARCHAR},zuqi=#{zuqi,jdbcType=VARCHAR},
            zhuangxiu=#{zhuangxiu,jdbcType=VARCHAR},chanquan=#{chanquan,jdbcType=VARCHAR},wuye=#{wuye,jdbcType=VARCHAR}
        where hid = #{hid} and deleted = 0;
    </update>
    <update id="shanchu">
        update fangzhi set deleted = 1, deleted_at = now() where hid = #{hid} and deleted = 0;
    </update>
    <update id="restore">
        update fangzhi set deleted = 0, deleted_at = null where hid = #{hid} and deleted = 1;
    </update>
    <delete id="purge">
        delete from fangzhi where hid = #{hid} and deleted = 1;
    </delete>
    <delete id="shan">
        delete from user where username = #{username};
    </delete>
    <insert id="addfangzhi">
        insert into fangzhi(dizhi,mianji,jiage,tupian,zhuangtai,jiaju,shuidian,zuqi,zhuangxiu,chanquan,wuye)
        values(#{dizhi},#{mianji},#{jiage},#{tupian},#{zhuangtai},
            #{jiaju,jdbcType=VARCHAR},#{shuidian,jdbcType=VARCHAR},#{zuqi,jdbcType=VARCHAR},
            #{zhuangxiu,jdbcType=VARCHAR},#{chanquan,jdbcType=VARCHAR},#{wuye,jdbcType=VARCHAR});
    </insert>
    <update id="gaimima">
        update user set password =#{password} where username = #{username};
    </update>
    <update id="gai">
        update user set password =#{password},dengji = #{dengji} where username = #{username};
    </update>
</mapper>
