<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD me.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.houseproject.Mapper.UserMapper">

    <select id="getAllUser" resultType="User">
        SELECT * from user;
    </select>
    <select id="querybyname" parameterType="String" resultType="User">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id="querybyusername" parameterType="String" resultType="User">
        select * from user where username = #{username};
    </select>
    <select id="getall"  resultType="fangzhi">
        select * from fangzhi;
    </select>
    <select id="querybyid"  resultType="User">
        select * from fangzhi where hid = #{hid};
    </select>
    <insert id="addUser">
            insert into user(username,password) values(#{username},#{password})
    </insert>
    <update id="xiugai">
        update fangzhi set dizhi =#{dizhi},mianji=#{mianji},jiage=#{jiage} where hid = #{hid};
    </update>
    <delete id="shanchu">
        delete from fangzhi where hid = #{hid};
    </delete>
    <delete id="shan">
        delete from user where username = #{username};
    </delete>
    <insert id="addfangzhi">
        insert into fangzhi(dizhi,mianji,jiage,tupian) values(#{dizhi},#{mianji},#{jiage},#{tupian});
    </insert>
    <update id="gaimima">
        update user set password =#{password} where username = #{username};
    </update>
    <update id="gai">
        update user set password =#{password},dengji = #{dengji} where username = #{username};
    </update>
</mapper>
